@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:100,300,400,700,900&display=swap");
body {
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #242424;
  line-height: 1.2; }

.container {
  padding-left: 70px;
  padding-right: 70px; }

a:hover {
  color: #90d23d; }

button {
  background-color: #90d23d;
  border-radius: 15px;
  width: 200px;
  height: 55px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.2; }

h2 {
  font-family: "Roboto Black", sans-serif;
  font-size: 50px;
  color: #000000;
  line-height: 1.2; }

h3 {
  font-family: "Roboto Black", sans-serif;
  font-size: 30px;
  color: #000000;
  line-height: 1.2; }

p {
  line-height: 1.2;
  margin-top: 17px; }

.p90 p {
  max-width: 90%; }

.pCenter {
  text-align: center; }

.leaflet-popup-content {
  background-color: #4a454b;
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  padding: 15px;
  border-radius: 12px; }

.leaflet-popup-tip, .leaflet-popup-content-wrapper {
  background-color: #4a454b; }

form input,
form textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #bebebe;
  line-height: 1.2;
  border-style: solid;
  border-width: 1px;
  border-color: #bebebe;
  border-radius: 5px;
  color: #bebebe;
  margin-bottom: 19px;
  width: 100%;
  height: 53px;
  padding: 8px 12px 0; }
  form input:focus,
  form textarea:focus {
    color: #6c6c6c;
    border-color: #90d23d;
    border-width: 2px; }

header {
  width: 100%;
  max-height: 770px;
  background: #4a454b;
  padding-top: 45px; }
  header .navSmall {
    display: none;
    position: relative; }
  header #img_logo {
    margin-left: 2px;
    z-index: 999; }
  header nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 6px; }
    header nav a {
      text-transform: uppercase;
      font-family: "Roboto Thin", sans-serif;
      font-size: 15px;
      color: #ffffff;
      line-height: 1.2; }
      header nav a:last-child {
        margin-right: 0px; }
  header #time_for_event {
    border: 2px solid #90d23d;
    border-radius: 18px;
    margin-top: 118px;
    margin-bottom: 199px;
    font-family: "Roboto Thin", sans-serif;
    font-size: 130px;
    color: #ffffff;
    line-height: 1.2;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 8%;
    visibility: hidden;
    height: 199px;
    position: relative; }
    header #time_for_event #time_today {
      left: 3px; }
      header #time_for_event #time_today .time_words {
        right: 3px; }
    header #time_for_event #time_thour {
      left: 2px; }
      header #time_for_event #time_thour .time_words {
        left: 2px; }
    header #time_for_event #time_tmin {
      left: 2px; }
      header #time_for_event #time_tmin .time_words {
        left: 6px; }
    header #time_for_event #time_tsec {
      left: 1px; }
      header #time_for_event #time_tsec .time_words {
        left: 3px; }
    header #time_for_event .time_words {
      font-family: "Roboto Slab", sans-serif;
      font-size: 25px;
      color: #ffffff;
      line-height: 1.2;
      top: 10px;
      position: relative; }
  header .icon_event {
    -webkit-transform: rotate(355deg);
            transform: rotate(355deg);
    /*vertical-align:bottom;*/ }
    header .icon_event img {
      position: relative; }
    header .icon_event .icon1 {
      left: -47px;
      top: -61px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 5; }
    header .icon_event .icon2 {
      left: -98px;
      top: -69px;
      -webkit-transform: rotate(363deg);
              transform: rotate(363deg);
      z-index: 4; }
    header .icon_event .icon3 {
      left: -141px;
      top: -78px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 3; }
    header .icon_event .icon4 {
      left: -170px;
      top: -76px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 2; }
    header .icon_event .icon5 {
      left: -204px;
      top: -74px;
      -webkit-transform: rotate(366deg);
              transform: rotate(366deg);
      z-index: 1; }

.bgGrey,
.bgWhite {
  position: relative;
  width: 100%;
  min-height: 100px; }

.bgGrey {
  background: #4a454b;
  padding-top: 46px;
  padding-bottom: 175px; }

.bgWhite {
  background: #ffffff;
  z-index: 1;
  padding-top: 46px; }
  .bgWhite::after, .bgWhite::before {
    background: inherit;
    bottom: 0;
    top: 0;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: skewY(-5deg);
            transform: skewY(-5deg);
    z-index: -1;
    padding-bottom: 120px; }
  .bgWhite::after {
    -webkit-transform-origin: left top;
            transform-origin: left top; }
  .bgWhite::before {
    -webkit-transform-origin: right top;
            transform-origin: right top; }

#signEvent {
  max-width: 431px;
  height: 530px;
  position: absolute;
  bottom: 15px;
  left: -2px;
  background-color: #ffffff;
  border: 1px solid #949293;
  text-align: center;
  margin-left: 0;
  /* vertical-align: middle; */
  -webkit-box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
          box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65); }
  #signEvent input,
  #signEvent button {
    position: static;
    width: 87%;
    display: inline-block;
    margin: 0px 15px 22px 15px;
    -webkit-box-shadow: none;
            box-shadow: none; }
  #signEvent button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: #000000;
    line-height: 1.2; }
  #signEvent h3 {
    margin-top: 27px;
    margin-bottom: 15px; }
  #signEvent p {
    margin-top: -2px;
    margin-left: 3px;
    font-size: 15px; }

.invalid {
  text-transform: none;
  background-color: rgba(236, 169, 169, 0.637);
  color: #000000; }

.description {
  margin-top: 125px;
  margin-bottom: 83px;
  padding-right: 13px;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card_description {
  text-align: center;
  width: 302px;
  max-width: 302px;
  padding-left: 0px;
  padding-right: 0px; }
  .card_description:nth-child(2) {
    position: relative;
    left: 19px; }
  .card_description:last-child {
    position: relative;
    left: 2px; }
  .card_description h2 {
    font-size: 35px;
    margin-top: 31px; }
  .card_description .descriptionImg {
    height: 211px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }

#eventDetails table {
  width: 100%;
  position: relative;
  border-radius: 15px;
  left: 2px;
  font-family: "Roboto Regular", sans-serif;
  font-size: 22px;
  color: #ffffff;
  line-height: 1.2;
  background-color: #4b4d4f;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 22px; }
  #eventDetails table .tbldDark {
    background-color: #373737; }
  #eventDetails table tr {
    height: 75px; }
  #eventDetails table tbody td {
    padding: 0;
    vertical-align: inherit; }
    #eventDetails table tbody td:first-child {
      padding-left: 46px;
      width: 298px; }
    #eventDetails table tbody td:last-child {
      font-size: 19px;
      padding-right: 32px; }
  #eventDetails table thead {
    background-color: #a3cc40;
    border-spacing: 0;
    border-radius: 15px 15px 0 0;
    font-family: "Roboto Black", sans-serif;
    font-size: 30px;
    color: #ffffff;
    line-height: 1.2; }
    #eventDetails table thead th {
      padding: 0;
      vertical-align: inherit; }
      #eventDetails table thead th:first-child {
        border-radius: 15px 0 0 0;
        padding-left: 79px; }
      #eventDetails table thead th:last-child {
        border-radius: 0 15px 0 0; }
#eventDetails .pCenter {
  padding-left: 10px;
  padding-right: 10px; }
#eventDetails .blockEnd {
  height: 144px;
  display: block; }

.elite {
  text-align: right;
  color: #ffffff; }
  .elite img {
    position: relative;
    display: block;
    z-index: 999 !important;
    bottom: 121px;
    right: 4px; }
  .elite h2 {
    margin-top: 120px;
    margin-bottom: 24px;
    text-align: right;
    color: #ffffff; }
  .elite p {
    -webkit-margin-before: 0em;
            margin-block-start: 0em;
    -webkit-margin-after: 1.4em;
            margin-block-end: 1.4em;
    padding-left: 11px; }
  .elite button {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 16px;
    position: relative;
    left: 3px; }

#speakers h2 {
  padding: 92px 30px 0px 30px; }
#speakers p {
  padding-left: 33px;
  max-width: 605px; }
#speakers .speakersBlock {
  left: 2px;
  top: 23px;
  position: relative; }
#speakers .logoSpeakersV,
#speakers .logoSpeakers {
  margin: 21px;
  width: 296px;
  height: 296px;
  min-width: 255px;
  max-width: 296px; }
  #speakers .logoSpeakersV img,
  #speakers .logoSpeakers img {
    width: 296px;
    height: 296px;
    position: relative;
    right: 15px; }
#speakers .logoSpeakersV img {
  text-align: center;
  padding: 31px 28px 32px 29px; }
#speakers .nameSpeakers,
#speakers .textSpeakers,
#speakers .socIcons,
#speakers hr {
  display: none; }
#speakers .logoSpeakers:hover {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  background-color: #90d23d;
  border-radius: 15px; }
  #speakers .logoSpeakers:hover .nameSpeakers,
  #speakers .logoSpeakers:hover .textSpeakers,
  #speakers .logoSpeakers:hover .socIcons,
  #speakers .logoSpeakers:hover hr {
    display: block;
    padding-left: 17px; }
  #speakers .logoSpeakers:hover .nameSpeakers {
    font-family: "Roboto Black", sans-serif;
    font-size: 45px;
    color: #ffffff;
    line-height: 1.2;
    padding-top: 32px;
    line-height: 0.956; }
  #speakers .logoSpeakers:hover .textSpeakers {
    font-family: "Roboto Medium", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2; }
  #speakers .logoSpeakers:hover hr {
    width: 67px;
    border-top: 6px solid #ffffff;
    margin: 11px 0;
    position: relative;
    left: 17px;
    bottom: 2px; }
  #speakers .logoSpeakers:hover .socIcons {
    margin-top: 37px;
    font-size: 17px; }
  #speakers .logoSpeakers:hover img {
    display: none; }
#speakers .blockEnd {
  height: 181px;
  display: block; }

#sponsors {
  text-align: center; }
  #sponsors h1 {
    margin-top: 115px;
    font-family: "Roboto Black", sans-serif;
    font-size: 50px;
    color: #ffffff;
    line-height: 1.2; }
  #sponsors p {
    margin-top: 22px;
    color: #ffffff; }
  #sponsors .sponsorsImg {
    position: relative;
    margin-top: 35px; }
    #sponsors .sponsorsImg div:first-child {
      left: 41px; }
    #sponsors .sponsorsImg div:last-child {
      right: 57px;
      top: 4px; }
  #sponsors button {
    margin-top: 65px; }

#pastEvents .bgWhite {
  margin-top: -50px; }
#pastEvents h3 {
  font-family: "Roboto Black", sans-serif;
  font-size: 50px;
  color: #242424;
  line-height: 1.2; }
#pastEvents .pastEventsText {
  margin-left: 14px;
  padding-left: 70px;
  margin-top: 60px; }
  #pastEvents .pastEventsText div:last-child {
    max-width: 61%; }
#pastEvents .container {
  padding-left: 0;
  padding-right: 0; }
  #pastEvents .container .pastEventsImg {
    margin-top: 85px;
    width: 100%;
    display: inline-block;
    clear: both; }
    #pastEvents .container .pastEventsImg div {
      display: inline-block;
      margin: 0 !important; }
    #pastEvents .container .pastEventsImg div:first-child {
      float: left;
      height: 416px;
      overflow: hidden;
      width: 51.28%; }
    #pastEvents .container .pastEventsImg div:nth-child(2) {
      float: right;
      height: 416px;
      width: 48.72%;
      overflow: hidden; }
    #pastEvents .container .pastEventsImg div:nth-child(3) {
      float: left;
      height: 366px;
      overflow: hidden;
      width: 42.74%; }
    #pastEvents .container .pastEventsImg div:nth-child(4) {
      background-color: blue;
      float: right;
      height: 366px;
      overflow: hidden;
      width: 57.26%; }
    #pastEvents .container .pastEventsImg img {
      min-height: 100%;
      max-height: 110%;
      min-width: 100%; }
#pastEvents button {
  clear: both;
  margin: 0 auto;
  margin-top: 99px;
  background-color: #373737;
  display: block; }

#contact {
  position: relative;
  z-index: 1;
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #contact #map {
    width: 100%;
    position: relative;
    height: 660px;
    z-index: -1; }
  #contact #showContact {
    position: absolute;
    right: 0;
    top: 0; }
  #contact #contactDetails {
    z-index: 2;
    min-height: 530px;
    max-width: 970px;
    position: absolute;
    background-color: #ffffff;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -ms-flex-item-align: auto;
        align-self: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #contact #contactDetails div:first-child {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      -ms-flex-item-align: center;
          align-self: center; }
    #contact #contactDetails .adres {
      text-align: center;
      height: 336px; }
      #contact #contactDetails .adres p {
        margin-top: 43px;
        margin-bottom: 28px;
        padding: 0 20px;
        min-width: 267px;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        color: #454444;
        line-height: 1.2; }
    #contact #contactDetails div:nth-child(2) {
      -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
              order: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      -ms-flex-item-align: auto;
          align-self: auto; }
      #contact #contactDetails div:nth-child(2) #inputKonatktEmail {
        padding: 0px 17px 0;
        min-width: 399px;
        width: 100%; }
      #contact #contactDetails div:nth-child(2) #inputKontaktText {
        padding: 13px 20px 0;
        margin-top: 10px;
        min-height: 250px;
        min-width: 399px;
        width: 100%; }
      #contact #contactDetails div:nth-child(2) button {
        min-width: 399px;
        margin: 7px 0px 0px 1px;
        width: 100%;
        height: 60px;
        border-radius: 5px;
        background-color: #373737;
        font-family: "Roboto", sans-serif;
        font-size: 22px;
        color: #ffffff;
        line-height: 1.2; }

footer {
  background-color: #90d23d;
  height: 224px;
  margin-top: -4px;
  text-align: center; }
  footer .socIcons {
    margin-top: 53px; }
    footer .socIcons span {
      font-size: 27px;
      margin: 1px; }
  footer p {
    margin-top: 29px;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.2; }

span i:first-child {
  color: white; }
span i:last-child {
  color: #90d23d; }

.goUp {
  position: absolute;
  right: 162px;
  top: 76px;
  color: #212121;
  font-size: 34px;
  z-index: 999; }

@media (min-width: 1px) and (max-width: 349px) {
  #time_for_event,
  .icon_even {
    display: none; }

  #signEvent {
    position: relative; }
    #signEvent .icon_event img {
      visibility: hidden; } }
@media (min-width: 350px) and (max-width: 576px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 20px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    max-height: 390px; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 90px;
      font-size: 70px;
      height: 120px;
      line-height: 1; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      margin-left: 40px; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: static;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px;
    padding-left: 10px !important; }
    #eventDetails table hr {
      border-width: 3px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td:first-child {
      width: 150px;
      padding-left: 10px; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static; }
  #sponsors button {
    margin-bottom: 20px; }

  .bgGrey {
    padding-bottom: 90px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 660px; }
    #contact #contactDetails {
      z-index: 2;
      position: absolute;
      background-color: #ffffff; }
      #contact #contactDetails div:nth-child(2) #inputKonatktEmail {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) #inputKontaktText {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) button {
        min-width: 200px; }

  .goUp {
    right: 30px;
    top: 45px; }

  header .navSmall {
    display: inline-block;
    font-size: 2rem;
    color: #ffffff; }
  header .dropDown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-right: 22px; }
  header .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1; }
  header .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #242424;
    line-height: 1.2; }
    header .dropdown-content a:hover {
      background-color: #f1f1d5;
      color: #90d23d;
      font-weight: 900; }
  header .dropDown:hover .dropdown-content {
    display: block;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s; } }
@media screen and (min-width: 577px) and (max-width: 768px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 20px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    max-height: 390px; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 90px;
      font-size: 70px;
      height: 120px;
      line-height: 1; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      margin-left: 40px; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: inline; }
      header .icon_event .icon5 {
        display: inline; }

  #signEvent {
    position: static;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px;
    padding-left: 10px !important; }
    #eventDetails table hr {
      border-width: 3px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td:first-child {
      width: 150px;
      padding-left: 10px; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static; }
  #sponsors button {
    margin-bottom: 20px; }

  .bgGrey {
    padding-bottom: 90px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 750px; }
    #contact #contactDetails {
      z-index: 2;
      position: absolute;
      background-color: #ffffff; }
      #contact #contactDetails div:nth-child(2) #inputKonatktEmail {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) #inputKontaktText {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) button {
        min-width: 200px; }

  .goUp {
    right: 30px;
    top: 45px; }

  header .navSmall {
    display: inline-block;
    font-size: 2rem;
    color: #ffffff; }
  header .dropDown {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-right: 22px; }
  header .dropdown-content {
    display: none;
    position: absolute;
    text-align: left;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 200px;
    -webkit-box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1; }
  header .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #242424;
    line-height: 1.2; }
    header .dropdown-content a:hover {
      background-color: #f1f1d5;
      color: #90d23d;
      font-weight: 900; }
  header .dropDown:hover .dropdown-content {
    display: block;
    -webkit-transition-duration: 0.8s;
            transition-duration: 0.8s; } }
@media screen and (min-width: 769px) and (max-width: 992px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 20px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    max-height: 390px; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 90px;
      font-size: 70px;
      height: 120px;
      line-height: 1; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      margin-left: 40px; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: none; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: absolute;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px;
    padding-left: 10px !important; }
    #eventDetails table hr {
      border-width: 3px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td:first-child {
      width: 150px;
      padding-left: 10px; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers .speakersBlock .logoSpeakersV {
    display: none; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static; }
  #sponsors button {
    margin-bottom: 20px; }

  .bgGrey {
    padding-bottom: 90px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 660px; }
    #contact #contactDetails {
      z-index: 2;
      position: absolute;
      background-color: #ffffff; }
      #contact #contactDetails div:nth-child(2) #inputKonatktEmail {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) #inputKontaktText {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) button {
        min-width: 200px; }

  .goUp {
    right: 30px;
    top: 45px; } }
@media (min-width: 993px) and (max-width: 1199px) {
  .no-padding {
    padding: 0 !important; }

  .no-margin {
    margin: 0 !important; }

  .p90 p {
    max-width: 100%; }

  .RWD {
    margin-top: 20px !important; }

  .container {
    width: calc(100% - 30px);
    padding-left: 15px;
    padding-right: 15px; }

  header {
    padding-top: 20px;
    max-height: 400px; }
    header #time_for_event {
      margin-top: 10px;
      margin-bottom: 90px;
      font-size: 70px;
      height: 120px;
      line-height: 1; }
      header #time_for_event .time_words {
        font-size: 16px; }
    header #img_logo {
      width: 170px; }
    header nav {
      margin-left: 20px; }
    header .icon_event {
      margin-left: 40px; }
      header .icon_event img {
        position: relative;
        bottom: 0;
        width: 150px; }
      header .icon_event .icon4 {
        display: static; }
      header .icon_event .icon5 {
        display: none; }

  #signEvent {
    position: absolute;
    max-width: 100%; }

  .description {
    margin-top: 20px;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .card_description:nth-child(2) {
    position: static; }
  .card_description:last-child {
    position: static; }

  #eventDetails table {
    font-size: 18px;
    padding-left: 10px !important; }
    #eventDetails table hr {
      border-width: 3px; }
    #eventDetails table tr {
      height: 55px; }
    #eventDetails table tbody td:first-child {
      width: 150px;
      padding-left: 10px; }
    #eventDetails table tbody tr .collapse td {
      padding-left: 150px; }
    #eventDetails table thead {
      font-size: 25px; }
      #eventDetails table thead th:first-child {
        text-align: center;
        padding-left: 0; }
  #eventDetails .blockEnd {
    display: none; }

  .elite img {
    width: 200px;
    bottom: 50px; }
  .elite h2 {
    margin-top: 10px; }
  .elite p {
    padding-left: 0; }

  #speakers h2 {
    padding-top: 0; }
  #speakers .speakersBlock .logoSpeakersV {
    display: static; }
  #speakers .speakersBlock .logoSpeakersV,
  #speakers .speakersBlock .logoSpeakers {
    margin: 0px;
    min-width: 255px;
    min-height: 255px; }
  #speakers .blockEnd {
    height: 20px; }

  #sponsors .sponsorsImg {
    position: static; }
    #sponsors .sponsorsImg div {
      position: static; }
  #sponsors button {
    margin-bottom: 20px; }

  .bgGrey {
    padding-bottom: 90px; }

  #contact {
    margin-top: 92px; }
    #contact #map {
      height: 660px; }
    #contact #contactDetails {
      z-index: 2;
      position: absolute;
      background-color: #ffffff; }
      #contact #contactDetails div:nth-child(2) #inputKonatktEmail {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) #inputKontaktText {
        min-width: 200px; }
      #contact #contactDetails div:nth-child(2) button {
        min-width: 200px; }

  .goUp {
    right: 30px;
    top: 45px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }
.displayNone {
  display: none !important; }

/*# sourceMappingURL=style.css.map */